In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
ussd22 = pd.read_csv('data/ussd22a.csv', encoding='latin-1')

In [21]:
ussd22

,State Postal Code,State FIPS Code,District ID,Name,Estimated Total Population,Estimated Population 5-17,Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder
0,AL,1,190,Alabaster City School District,"34,391","6,494",610
1,AL,1,5,Albertville City School District,"22,801","4,669",946
2,AL,1,30,Alexander City City School District,"16,945","2,661",709
3,AL,1,60,Andalusia City School District,"8,855","1,474",380
4,AL,1,90,Anniston City School District,"21,443","2,892","1,012"
...,...,...,...,...,...,...,...
13148,WY,56,6240,Washakie County School District 1,"6,974","1,137",141
13149,WY,56,5820,Washakie County School District 2,745,89,17
13150,WY,56,4830,Weston County School District 1,"5,494",795,93
13151,WY,56,6090,Weston County School District 7,"1,366",213,30
13152,PR,72,30,Puerto Rico,"3,221,789","418,780","233,738"

In [3]:
ussd22.head()

,State Postal Code,State FIPS Code,District ID,Name,Estimated Total Population,Estimated Population 5-17,Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder
0,AL,1,190,Alabaster City School District,"34,391","6,494",610
1,AL,1,5,Albertville City School District,"22,801","4,669",946
2,AL,1,30,Alexander City City School District,"16,945","2,661",709
3,AL,1,60,Andalusia City School District,"8,855","1,474",380
4,AL,1,90,Anniston City School District,"21,443","2,892","1,012"

In [4]:
tn_df = ussd22[ussd22['State Postal Code'] == 'TN']

In [5]:
tn_df.head()

,State Postal Code,State FIPS Code,District ID,Name,Estimated Total Population,Estimated Population 5-17,Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder
10946,TN,47,30,Alamo City School District,"4,092",400,89
10947,TN,47,60,Alcoa City School District,"11,360","1,861",225
10948,TN,47,90,Anderson County School District,"50,514","7,074","1,105"
10949,TN,47,152,Arlington Community School District,"28,344","4,562",162
10950,TN,47,120,Athens City Schools,"14,465","1,491",396

In [6]:
tn_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 141 entries, 10946 to 11086
Data columns (total 7 columns):
 #   Column                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                 --------------  -----
 0   State Postal Code                                                                                      141 non-null    object
 1   State FIPS Code                                                                                        141 non-null    int64
 2   District ID                                                                                            141 non-null    int64
 3   Name                                                                                                   141 non-null    object
 4   Estimated Total Population                                                                             141 non-null    object
 5   Estimated Population 5-17                                                                              141 non-null    object
 6   Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder  141 non-null    object
dtypes: int64(2), object(5)
memory usage: 8.8+ KB

In [7]:
tn_df.dtypes

State Postal Code                                                                                        object
State FIPS Code                                                                                           int64
District ID                                                                                               int64
Name                                                                                                     object
Estimated Total Population                                                                               object
Estimated Population 5-17                                                                                object
Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder    object
dtype: object

#tn_df['Estimated Total Population'] = pd.to_numeric(tn_df['Estimated Total Population'], errors='coerce')

In [8]:
tn_df.dtypes

State Postal Code                                                                                        object
State FIPS Code                                                                                           int64
District ID                                                                                               int64
Name                                                                                                     object
Estimated Total Population                                                                               object
Estimated Population 5-17                                                                                object
Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder    object
dtype: object

tn_df['Estimated Population 5-17'] = pd.to_numeric(tn_df['Estimated Total Population'], errors='coerce')

tn_df['Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder'] = pd.to_numeric(tn_df['Estimated Total Population'], errors='coerce')

In [9]:
tn_df.dtypes

State Postal Code                                                                                        object
State FIPS Code                                                                                           int64
District ID                                                                                               int64
Name                                                                                                     object
Estimated Total Population                                                                               object
Estimated Population 5-17                                                                                object
Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder    object
dtype: object

In [10]:
tn_df.head()

,State Postal Code,State FIPS Code,District ID,Name,Estimated Total Population,Estimated Population 5-17,Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder
10946,TN,47,30,Alamo City School District,"4,092",400,89
10947,TN,47,60,Alcoa City School District,"11,360","1,861",225
10948,TN,47,90,Anderson County School District,"50,514","7,074","1,105"
10949,TN,47,152,Arlington Community School District,"28,344","4,562",162
10950,TN,47,120,Athens City Schools,"14,465","1,491",396

In [11]:
tn_df.dtypes

State Postal Code                                                                                        object
State FIPS Code                                                                                           int64
District ID                                                                                               int64
Name                                                                                                     object
Estimated Total Population                                                                               object
Estimated Population 5-17                                                                                object
Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder    object
dtype: object

In [12]:
tn_df['Estimated Total Population'] = tn_df['Estimated Total Population'].str.replace(',', '')

C:\Users\Owne\AppData\Local\Temp\ipykernel_34448\483572754.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tn_df['Estimated Total Population'] = tn_df['Estimated Total Population'].str.replace(',', '')

In [13]:
tn_df.head()

,State Postal Code,State FIPS Code,District ID,Name,Estimated Total Population,Estimated Population 5-17,Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder
10946,TN,47,30,Alamo City School District,4092,400,89
10947,TN,47,60,Alcoa City School District,11360,"1,861",225
10948,TN,47,90,Anderson County School District,50514,"7,074","1,105"
10949,TN,47,152,Arlington Community School District,28344,"4,562",162
10950,TN,47,120,Athens City Schools,14465,"1,491",396

In [14]:
tn_df['Estimated Population 5-17'] = tn_df['Estimated Population 5-17'].str.replace(',', '')

C:\Users\Owne\AppData\Local\Temp\ipykernel_34448\531072980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tn_df['Estimated Population 5-17'] = tn_df['Estimated Population 5-17'].str.replace(',', '')

In [15]:
tn_df.head()

,State Postal Code,State FIPS Code,District ID,Name,Estimated Total Population,Estimated Population 5-17,Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder
10946,TN,47,30,Alamo City School District,4092,400,89
10947,TN,47,60,Alcoa City School District,11360,1861,225
10948,TN,47,90,Anderson County School District,50514,7074,"1,105"
10949,TN,47,152,Arlington Community School District,28344,4562,162
10950,TN,47,120,Athens City Schools,14465,1491,396

In [16]:
tn_df['Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder'] = tn_df['Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder'].str.replace(',', '')

C:\Users\Owne\AppData\Local\Temp\ipykernel_34448\4051022496.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tn_df['Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder'] = tn_df['Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder'].str.replace(',', '')

In [17]:
tn_df

,State Postal Code,State FIPS Code,District ID,Name,Estimated Total Population,Estimated Population 5-17,Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder
10946,TN,47,30,Alamo City School District,4092,400,89
10947,TN,47,60,Alcoa City School District,11360,1861,225
10948,TN,47,90,Anderson County School District,50514,7074,1105
10949,TN,47,152,Arlington Community School District,28344,4562,162
10950,TN,47,120,Athens City Schools,14465,1491,396
...,...,...,...,...,...,...,...
11082,TN,47,4470,Weakley County School District,33063,4551,1030
11083,TN,47,4490,West Carroll Special District,6885,1126,224
11084,TN,47,4500,White County School District,28064,4459,892
11085,TN,47,4530,Williamson County School District,260815,48762,1339
11086,TN,47,4550,Wilson County School District,158555,22615,1564

In [18]:
tn_df[['Estimated Total Population', 'Estimated Population 5-17', 'Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder']] = tn_df[['Estimated Total Population', 'Estimated Population 5-17', 'Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder']].astype(int)

C:\Users\Owne\AppData\Local\Temp\ipykernel_34448\768141479.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tn_df[['Estimated Total Population', 'Estimated Population 5-17', 'Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder']] = tn_df[['Estimated Total Population', 'Estimated Population 5-17', 'Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder']].astype(int)

In [19]:
tn_df.dtypes

State Postal Code                                                                                        object
State FIPS Code                                                                                           int64
District ID                                                                                               int64
Name                                                                                                     object
Estimated Total Population                                                                                int32
Estimated Population 5-17                                                                                 int32
Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder     int32
dtype: object

In [20]:
tn_df

,State Postal Code,State FIPS Code,District ID,Name,Estimated Total Population,Estimated Population 5-17,Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder
10946,TN,47,30,Alamo City School District,4092,400,89
10947,TN,47,60,Alcoa City School District,11360,1861,225
10948,TN,47,90,Anderson County School District,50514,7074,1105
10949,TN,47,152,Arlington Community School District,28344,4562,162
10950,TN,47,120,Athens City Schools,14465,1491,396
...,...,...,...,...,...,...,...
11082,TN,47,4470,Weakley County School District,33063,4551,1030
11083,TN,47,4490,West Carroll Special District,6885,1126,224
11084,TN,47,4500,White County School District,28064,4459,892
11085,TN,47,4530,Williamson County School District,260815,48762,1339
11086,TN,47,4550,Wilson County School District,158555,22615,1564

In [22]:
tn_df['Percentage of Population 5-17'] = (tn_df['Estimated Population 5-17'] / tn_df['Estimated Total Population']) * 100

C:\Users\Owne\AppData\Local\Temp\ipykernel_34448\1577276061.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tn_df['Percentage of Population 5-17'] = (tn_df['Estimated Population 5-17'] / tn_df['Estimated Total Population']) * 100

In [23]:
tn_df

,State Postal Code,State FIPS Code,District ID,Name,Estimated Total Population,Estimated Population 5-17,Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder,Percentage of Population 5-17
10946,TN,47,30,Alamo City School District,4092,400,89,9.775171
10947,TN,47,60,Alcoa City School District,11360,1861,225,16.382042
10948,TN,47,90,Anderson County School District,50514,7074,1105,14.004038
10949,TN,47,152,Arlington Community School District,28344,4562,162,16.095117
10950,TN,47,120,Athens City Schools,14465,1491,396,10.307639
...,...,...,...,...,...,...,...,...
11082,TN,47,4470,Weakley County School District,33063,4551,1030,13.764631
11083,TN,47,4490,West Carroll Special District,6885,1126,224,16.354394
11084,TN,47,4500,White County School District,28064,4459,892,15.888683
11085,TN,47,4530,Williamson County School District,260815,48762,1339,18.696011
11086,TN,47,4550,Wilson County School District,158555,22615,1564,14.263189

In [24]:
tn_df['Percentage of Population 5-17 in Poverty'] = (tn_df['Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder'] / tn_df['Estimated Population 5-17']) * 100

C:\Users\Owne\AppData\Local\Temp\ipykernel_34448\3434305491.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tn_df['Percentage of Population 5-17 in Poverty'] = (tn_df['Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder'] / tn_df['Estimated Population 5-17']) * 100

In [25]:
tn_df

,State Postal Code,State FIPS Code,District ID,Name,Estimated Total Population,Estimated Population 5-17,Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder,Percentage of Population 5-17,Percentage of Population 5-17 in Poverty
10946,TN,47,30,Alamo City School District,4092,400,89,9.775171,22.250000
10947,TN,47,60,Alcoa City School District,11360,1861,225,16.382042,12.090274
10948,TN,47,90,Anderson County School District,50514,7074,1105,14.004038,15.620582
10949,TN,47,152,Arlington Community School District,28344,4562,162,16.095117,3.551074
10950,TN,47,120,Athens City Schools,14465,1491,396,10.307639,26.559356
...,...,...,...,...,...,...,...,...,...
11082,TN,47,4470,Weakley County School District,33063,4551,1030,13.764631,22.632388
11083,TN,47,4490,West Carroll Special District,6885,1126,224,16.354394,19.893428
11084,TN,47,4500,White County School District,28064,4459,892,15.888683,20.004485
11085,TN,47,4530,Williamson County School District,260815,48762,1339,18.696011,2.745991
11086,TN,47,4550,Wilson County School District,158555,22615,1564,14.263189,6.915764

In [26]:
tn_df.rename(columns={'Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder': 'Number of children 5-17 in poverty'})

,State Postal Code,State FIPS Code,District ID,Name,Estimated Total Population,Estimated Population 5-17,Number of children 5-17 in poverty,Percentage of Population 5-17,Percentage of Population 5-17 in Poverty
10946,TN,47,30,Alamo City School District,4092,400,89,9.775171,22.250000
10947,TN,47,60,Alcoa City School District,11360,1861,225,16.382042,12.090274
10948,TN,47,90,Anderson County School District,50514,7074,1105,14.004038,15.620582
10949,TN,47,152,Arlington Community School District,28344,4562,162,16.095117,3.551074
10950,TN,47,120,Athens City Schools,14465,1491,396,10.307639,26.559356
...,...,...,...,...,...,...,...,...,...
11082,TN,47,4470,Weakley County School District,33063,4551,1030,13.764631,22.632388
11083,TN,47,4490,West Carroll Special District,6885,1126,224,16.354394,19.893428
11084,TN,47,4500,White County School District,28064,4459,892,15.888683,20.004485
11085,TN,47,4530,Williamson County School District,260815,48762,1339,18.696011,2.745991
11086,TN,47,4550,Wilson County School District,158555,22615,1564,14.263189,6.915764

In [27]:
largest_poverty_district = tn_df.sort_values(by='Percentage of Population 5-17 in Poverty', ascending=False)

In [28]:
largest_poverty_district

,State Postal Code,State FIPS Code,District ID,Name,Estimated Total Population,Estimated Population 5-17,Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder,Percentage of Population 5-17,Percentage of Population 5-17 in Poverty
11045,TN,47,3210,Newport City School District,7036,808,365,11.483798,45.173267
11018,TN,47,2280,Lake County School District,6507,695,275,10.680805,39.568345
10998,TN,47,1620,Hancock County School District,6845,1097,380,16.026297,34.639927
11048,TN,47,3300,Oneida Special School District,2950,481,162,16.305085,33.679834
11050,TN,47,3360,Paris Special School District,11836,1316,405,11.118621,30.775076
...,...,...,...,...,...,...,...,...,...
10986,TN,47,78,Fort Campbell Schools,7792,1629,88,20.906057,5.402087
10972,TN,47,149,Collierville School District,50556,10718,436,21.200253,4.067923
10949,TN,47,152,Arlington Community School District,28344,4562,162,16.095117,3.551074
10989,TN,47,151,Germantown Municipal School District,40727,8122,280,19.942544,3.447427
11085,TN,47,4530,Williamson County School District,260815,48762,1339,18.696011,2.745991

In [32]:
largest_5through17_percent_population = tn_df.sort_values(by='Percentage of Population 5-17', ascending=False)

In [33]:
largest_5through17_percent_population

,State Postal Code,State FIPS Code,District ID,Name,Estimated Total Population,Estimated Population 5-17,Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder,Percentage of Population 5-17,Percentage of Population 5-17 in Poverty
10972,TN,47,149,Collierville School District,50556,10718,436,21.200253,4.067923
10986,TN,47,78,Fort Campbell Schools,7792,1629,88,20.906057,5.402087
10990,TN,47,1400,Gibson County School District,19900,4037,416,20.286432,10.304682
10989,TN,47,151,Germantown Municipal School District,40727,8122,280,19.942544,3.447427
10966,TN,47,3030,Clarksville-Montgomery County School System,227409,42671,5941,18.763989,13.922805
...,...,...,...,...,...,...,...,...,...
10946,TN,47,30,Alamo City School District,4092,400,89,9.775171,22.250000
10988,TN,47,1260,Franklin Special School District,42993,4146,278,9.643430,6.705258
11044,TN,47,3150,Murfreesboro City School District,161557,14692,1578,9.094004,10.740539
10953,TN,47,210,Bells City School District,3702,334,70,9.022150,20.958084
10969,TN,47,720,Clinton City School District,10289,808,148,7.853047,18.316832

In [34]:
largest_population = tn_df.sort_values(by='Estimated Total Population', ascending=False)

In [39]:
top_20_pop = largest_population.head(20)

In [40]:
top_20_pop

,State Postal Code,State FIPS Code,District ID,Name,Estimated Total Population,Estimated Population 5-17,Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder,Percentage of Population 5-17,Percentage of Population 5-17 in Poverty
11064,TN,47,148,Shelby County School District,723442,128038,34121,17.698447,26.649120
11038,TN,47,3180,Metropolitan Nashville Public School District,708144,95923,19490,13.545691,20.318380
11017,TN,47,2220,Knox County School District,494574,75096,8318,15.183977,11.076489
10997,TN,47,1590,Hamilton County School District,374682,55959,8848,14.935065,15.811576
11060,TN,47,3690,Rutherford County School District,360619,50460,4400,13.992607,8.719778
11085,TN,47,4530,Williamson County School District,260815,48762,1339,18.696011,2.745991
10966,TN,47,3030,Clarksville-Montgomery County School System,227409,42671,5941,18.763989,13.922805
11069,TN,47,4020,Sumner County School District,203858,34863,3018,17.101610,8.656742
11044,TN,47,3150,Murfreesboro City School District,161557,14692,1578,9.094004,10.740539
11086,TN,47,4550,Wilson County School District,158555,22615,1564,14.263189,6.915764
11033,TN,47,2760,Maury County School District,108159,17675,2454,16.341682,13.884017
11012,TN,47,2580,Jackson-Madison County School System,99245,16003,3059,16.124742,19.115166
11063,TN,47,3780,Sevier County School District,98789,14736,1881,14.916641,12.764658
10956,TN,47,300,Blount County School District,95588,13040,1383,13.641880,10.605828
11054,TN,47,3480,Putnam County School District,82382,12367,2423,15.011774,19.592464
11068,TN,47,3990,Sullivan County School District,80298,11034,2003,13.741314,18.152982
11058,TN,47,3600,Robertson County School District,75470,13080,1606,17.331390,12.278287
11080,TN,47,4380,Washington County School District,69511,9816,1250,14.121506,12.734311
11014,TN,47,2130,Johnson City School District,66661,8810,1616,13.216123,18.342792
10996,TN,47,1,Hamblen County School District,65168,11214,1815,17.207832,16.185126

In [41]:
district_profile2223 = pd.read_csv('data/new-district-profile-2022-2023.csv', encoding='latin-1')

In [42]:
district_profile2223

,school_year,district_id,district_name,total,african_american_pct,asian_pct,black_hispanic_native_american_pct,economically_disadvantaged_pct,female_pct,foster_pct,...,hispanic_pct,homeless_pct,limited_english_proficient_pct,male_pct,migrant_pct,military_pct,multirace_pct,native_american_pct,students_with_disabilities_pct,white_pct
0,2022-23,0,State of Tennessee,973983,24,3,38,30,49,Less than 1%,...,14,2,8,51,Less than 1%,Less than 1%,18,Less than 1%,14,59
1,2022-23,10,Anderson County,6019,4,Less than 1%,9,31,48,1,...,4,1,2,52,Less than 1%,Fewer than 10 students,7,Less than 1%,18,90
2,2022-23,11,Clinton,933,6,2,11,29,50,Less than 1%,...,5,1,1,50,Fewer than 10 students,Less than 1%,10,Less than 1%,18,86
3,2022-23,12,Oak Ridge,4730,16,3,27,20,49,Less than 1%,...,10,2,4,51,Fewer than 10 students,Less than 1%,18,Less than 1%,16,69
4,2022-23,20,Bedford County,8827,12,1,42,32,49,Less than 1%,...,30,Less than 1%,15,51,Fewer than 10 students,Less than 1%,36,Less than 1%,11,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,2022-23,963,Tennessee School for Blind,126,22,8,36,3,37,2,...,14,Less than 1%,13,63,Fewer than 10 students,2,15,Fewer than 10 students,More than 99%,56
145,2022-23,964,Tennessee School for the Deaf,129,25,7,44,17,40,Fewer than 10 students,...,19,Less than 1%,2,60,Fewer than 10 students,2,22,Fewer than 10 students,More than 99%,47
146,2022-23,970,Department Of Children's Services Education Di...,1159,35,Less than 1%,39,More than 99%,28,More than 99%,...,3,Less than 1%,2,72,Fewer than 10 students,Less than 1%,7,Less than 1%,45,61
147,2022-23,985,Achievement School District,5864,89,Less than 1%,98,67,49,Less than 1%,...,9,1,8,51,Less than 1%,Fewer than 10 students,10,Less than 1%,13,2
148,2022-23,987,Tennessee Public Charter School Commission,3687,63,2,81,48,50,Less than 1%,...,18,Less than 1%,20,50,Fewer than 10 students,Fewer than 10 students,20,Less than 1%,12,16

largest_number_of_students = district_profile2223.sort_values(by='total', ascending=False)

largest_number_of_students

In [45]:
district_profile2223.dtypes

school_year                           object
district_id                            int64
district_name                         object
total                                 object
african_american_pct                  object
asian_pct                             object
black_hispanic_native_american_pct    object
economically_disadvantaged_pct        object
female_pct                            object
foster_pct                            object
hawaiian_pacisld_pct                  object
hispanic_pct                          object
homeless_pct                          object
limited_english_proficient_pct        object
male_pct                              object
migrant_pct                           object
military_pct                          object
multirace_pct                         object
native_american_pct                   object
students_with_disabilities_pct        object
white_pct                             object
dtype: object

In [49]:
filtered_district = district_profile2223[district_profile2223['total'] != 'Fewer than 10 students']

In [50]:
filtered_district[['total']] = filtered_district[['total']].astype(int)

C:\Users\Owne\AppData\Local\Temp\ipykernel_34448\4060154135.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_district[['total']] = filtered_district[['total']].astype(int)

In [51]:
filtered_district.dtypes

school_year                           object
district_id                            int64
district_name                         object
total                                  int32
african_american_pct                  object
asian_pct                             object
black_hispanic_native_american_pct    object
economically_disadvantaged_pct        object
female_pct                            object
foster_pct                            object
hawaiian_pacisld_pct                  object
hispanic_pct                          object
homeless_pct                          object
limited_english_proficient_pct        object
male_pct                              object
migrant_pct                           object
military_pct                          object
multirace_pct                         object
native_american_pct                   object
students_with_disabilities_pct        object
white_pct                             object
dtype: object

In [54]:
largest_number_of_students = filtered_district.sort_values(by='total', ascending=False)

In [55]:
largest_number_of_students

,school_year,district_id,district_name,total,african_american_pct,asian_pct,black_hispanic_native_american_pct,economically_disadvantaged_pct,female_pct,foster_pct,...,hispanic_pct,homeless_pct,limited_english_proficient_pct,male_pct,migrant_pct,military_pct,multirace_pct,native_american_pct,students_with_disabilities_pct,white_pct
0,2022-23,0,State of Tennessee,973983,24,3,38,30,49,Less than 1%,...,14,2,8,51,Less than 1%,Less than 1%,18,Less than 1%,14,59
114,2022-23,792,Memphis-Shelby County Schools,104944,75,1,93,55,50,Less than 1%,...,18,2,13,50,Less than 1%,Fewer than 10 students,22,Less than 1%,11,5
35,2022-23,190,Metro Nashville Public Schools,77435,39,4,71,37,49,Less than 1%,...,32,2,28,51,Less than 1%,Less than 1%,36,Less than 1%,13,25
72,2022-23,470,Knox County,58879,17,3,30,21,49,Less than 1%,...,13,Less than 1%,8,51,Less than 1%,Less than 1%,18,Less than 1%,16,66
108,2022-23,750,Rutherford County,50026,22,5,43,18,49,Less than 1%,...,21,2,14,51,Less than 1%,Less than 1%,26,Less than 1%,9,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18,2022-23,95,South Carroll,306,8,1,10,26,45,Fewer than 10 students,...,2,5,Less than 1%,55,Fewer than 10 students,Fewer than 10 students,7,Fewer than 10 students,11,88
88,2022-23,581,Richard City,170,14,3,14,58,52,Fewer than 10 students,...,Less than 1%,Fewer than 10 students,Fewer than 10 students,48,Fewer than 10 students,Fewer than 10 students,4,Fewer than 10 students,14,83
145,2022-23,964,Tennessee School for the Deaf,129,25,7,44,17,40,Fewer than 10 students,...,19,Less than 1%,2,60,Fewer than 10 students,2,22,Fewer than 10 students,More than 99%,47
144,2022-23,963,Tennessee School for Blind,126,22,8,36,3,37,2,...,14,Less than 1%,13,63,Fewer than 10 students,2,15,Fewer than 10 students,More than 99%,56
142,2022-23,960,West Tennessee School for the Deaf,24,17,4,21,33,46,Fewer than 10 students,...,4,Fewer than 10 students,Fewer than 10 students,54,Fewer than 10 students,4,4,Fewer than 10 students,More than 99%,75

In [57]:
row_location = filtered_district[filtered_district['economically_disadvantaged_pct'] == 'More than 99%']

In [58]:
row_location

,school_year,district_id,district_name,total,african_american_pct,asian_pct,black_hispanic_native_american_pct,economically_disadvantaged_pct,female_pct,foster_pct,...,hispanic_pct,homeless_pct,limited_english_proficient_pct,male_pct,migrant_pct,military_pct,multirace_pct,native_american_pct,students_with_disabilities_pct,white_pct
146,2022-23,970,Department Of Children's Services Education Di...,1159,35,Less than 1%,39,More than 99%,28,More than 99%,...,3,Less than 1%,2,72,Fewer than 10 students,Less than 1%,7,Less than 1%,45,61

In [59]:
filtered_district = filtered_district[filtered_district['economically_disadvantaged_pct'] != 'More than 99%']

In [60]:
filtered_district[['economically_disadvantaged_pct']] = filtered_district[['economically_disadvantaged_pct']].astype(int)

In [61]:
filtered_district.dtypes

school_year                           object
district_id                            int64
district_name                         object
total                                  int32
african_american_pct                  object
asian_pct                             object
black_hispanic_native_american_pct    object
economically_disadvantaged_pct         int32
female_pct                            object
foster_pct                            object
hawaiian_pacisld_pct                  object
hispanic_pct                          object
homeless_pct                          object
limited_english_proficient_pct        object
male_pct                              object
migrant_pct                           object
military_pct                          object
multirace_pct                         object
native_american_pct                   object
students_with_disabilities_pct        object
white_pct                             object
dtype: object

In [62]:
largest_number_econ_disandantage = filtered_district.sort_values(by='economically_disadvantaged_pct', ascending=False)

In [65]:
largest_number_econ_disandantage.head(30)

,school_year,district_id,district_name,total,african_american_pct,asian_pct,black_hispanic_native_american_pct,economically_disadvantaged_pct,female_pct,foster_pct,...,hispanic_pct,homeless_pct,limited_english_proficient_pct,male_pct,migrant_pct,military_pct,multirace_pct,native_american_pct,students_with_disabilities_pct,white_pct
147,2022-23,985,Achievement School District,5864,89,Less than 1%,98,67,49,Less than 1%,...,9,1,8,51,Less than 1%,Fewer than 10 students,10,Less than 1%,13,2
73,2022-23,480,Lake County,707,32,Less than 1%,35,60,49,Fewer than 10 students,...,2,Less than 1%,Fewer than 10 students,51,Fewer than 10 students,Fewer than 10 students,9,Less than 1%,23,64
88,2022-23,581,Richard City,170,14,3,14,58,52,Fewer than 10 students,...,Less than 1%,Fewer than 10 students,Fewer than 10 students,48,Fewer than 10 students,Fewer than 10 students,4,Fewer than 10 students,14,83
44,2022-23,271,Humboldt City Schools,1046,72,Less than 1%,81,58,49,1,...,8,Less than 1%,4,51,Fewer than 10 students,Fewer than 10 students,11,Less than 1%,14,19
114,2022-23,792,Memphis-Shelby County Schools,104944,75,1,93,55,50,Less than 1%,...,18,2,13,50,Less than 1%,Fewer than 10 students,22,Less than 1%,11,5
148,2022-23,987,Tennessee Public Charter School Commission,3687,63,2,81,48,50,Less than 1%,...,18,Less than 1%,20,50,Fewer than 10 students,Fewer than 10 students,20,Less than 1%,12,16
26,2022-23,150,Cocke County,4244,5,Less than 1%,10,48,48,Less than 1%,...,5,Less than 1%,1,52,Less than 1%,Less than 1%,8,Less than 1%,17,89
57,2022-23,350,Hardeman County Schools,3129,56,1,58,48,51,1,...,2,Less than 1%,Less than 1%,49,Fewer than 10 students,Less than 1%,5,Less than 1%,14,40
56,2022-23,340,Hancock County,893,1,Less than 1%,2,48,48,2,...,1,Fewer than 10 students,Less than 1%,52,Less than 1%,Fewer than 10 students,2,Fewer than 10 students,28,97
86,2022-23,570,Madison County,11729,60,2,71,46,49,1,...,10,2,6,51,Fewer than 10 students,Less than 1%,17,Less than 1%,15,27
40,2022-23,231,Dyersburg,2450,46,1,54,46,48,Less than 1%,...,8,Less than 1%,2,52,Fewer than 10 students,Fewer than 10 students,16,Less than 1%,18,45
34,2022-23,180,Cumberland County,6892,2,Less than 1%,9,46,48,1,...,7,2,3,52,Less than 1%,Less than 1%,8,Less than 1%,13,90
74,2022-23,490,Lauderdale County,3235,46,Less than 1%,51,45,48,Less than 1%,...,4,Less than 1%,2,52,Fewer than 10 students,Less than 1%,8,Less than 1%,17,49
69,2022-23,440,Jackson County,1406,3,Less than 1%,7,44,48,Less than 1%,...,3,19,Less than 1%,52,Fewer than 10 students,Less than 1%,6,Less than 1%,19,93
131,2022-23,880,Van Buren County,744,Less than 1%,Fewer than 10 students,2,43,48,Fewer than 10 students,...,2,25,Fewer than 10 students,52,Fewer than 10 students,Fewer than 10 students,2,Fewer than 10 students,16,98
47,2022-23,274,Bradford,575,5,1,7,43,52,1,...,2,Fewer than 10 students,1,48,1,Fewer than 10 students,4,Less than 1%,13,91
110,2022-23,760,Scott County,2377,1,Less than 1%,3,42,48,2,...,1,Less than 1%,Less than 1%,52,Fewer than 10 students,Fewer than 10 students,2,Less than 1%,17,97
78,2022-23,521,Fayetteville,1114,42,Less than 1%,48,42,48,Less than 1%,...,6,Less than 1%,2,52,Fewer than 10 students,Less than 1%,16,Less than 1%,14,51
87,2022-23,580,Marion County,3815,8,Less than 1%,12,42,48,Less than 1%,...,4,3,1,52,Less than 1%,Less than 1%,7,Less than 1%,13,87
25,2022-23,140,Clay County,1039,4,Less than 1%,9,42,48,Less than 1%,...,5,4,1,52,Less than 1%,Less than 1%,8,Less than 1%,16,91
61,2022-23,380,Haywood County,2520,68,Less than 1%,75,42,48,Less than 1%,...,7,1,3,52,Less than 1%,Fewer than 10 students,8,Less than 1%,15,24
41,2022-23,240,Fayette County Public Schools,3004,56,Less than 1%,65,41,47,Less than 1%,...,9,Less than 1%,5,53,Fewer than 10 students,Less than 1%,11,Less than 1%,15,34
65,2022-23,401,Paris,1496,24,2,28,41,47,Less than 1%,...,4,2,2,53,Fewer than 10 students,Less than 1%,11,Less than 1%,20,69
12,2022-23,70,Campbell County,5010,2,Less than 1%,3,40,48,Less than 1%,...,1,11,1,52,Fewer than 10 students,Fewer than 10 students,2,Less than 1%,20,96
82,2022-23,541,Athens,1646,15,2,28,40,47,Less than 1%,...,12,5,4,53,Fewer than 10 students,Less than 1%,21,Less than 1%,19,70
53,2022-23,310,Grundy County,1695,Less than 1%,Less than 1%,2,40,48,Less than 1%,...,Less than 1%,6,Less than 1%,52,Fewer than 10 students,Less than 1%,2,Less than 1%,18,98
58,2022-23,360,Hardin County,3231,6,1,10,40,49,Less than 1%,...,4,4,Less than 1%,51,Fewer than 10 students,Less than 1%,7,Less than 1%,17,88
42,2022-23,250,Fentress County,2115,Less than 1%,Less than 1%,4,40,50,2,...,3,Less than 1%,Less than 1%,50,Fewer than 10 students,Less than 1%,4,Less than 1%,16,95
6,2022-23,40,Bledsoe County,1565,1,Less than 1%,8,40,46,Less than 1%,...,7,2,2,54,2,Fewer than 10 students,7,Less than 1%,26,91
37,2022-23,210,DeKalb County,2803,4,Less than 1%,20,39,48,Less than 1%,...,16,Less than 1%,10,52,Less than 1%,Fewer than 10 students,19,Less than 1%,17,79